@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");

* {
    font-family: 'Roboto', sans-serif;
    /*border: 1px solid rgba(255, 0, 0, 0.25);*/
}

body {
    margin: 0;
}

header, footer {
    background: #1F2937;
}

#hero div h1 {
   margin-bottom: 0.5rem;
}

#sub {
    width: 80%;
}

h1, h3, .main-cta {
    color: #F9FAF8;
}

header nav h3 {
    font-size: 24px;
}

header {
    padding: 0 10%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    margin: 0 1rem;
    display: inline-block;
}

main {
    padding: 1rem 0;
}

main h2 {
    color: #1F2937;
    font-size: 36px;
    text-align: center;
}

#four {
    display: flex;
    padding: 0 15%;
}

#four div {
    flex: 1 0 25%;
}

#four div .square {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 80%;
    position: relative;
}

.square div {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: 0.25rem solid #3882F6;
    position: absolute;
}

#four div:nth-child(1) .square > div {
    background-image: url(./img/1.jpg);
    background-position: center;
    background-size: cover;
}

#four div:nth-child(2) .square > div {
    background-image: url(./img/2.jpg);
    background-position: center;
    background-size: cover;}

#four div:nth-child(3) .square > div {
    background-image: url(./img/3.jpg);
    background-position: center;
    background-size: cover;}

#four div:nth-child(4) .square > div {
    background-image: url(./img/4.jpg);
    background-position: center;
    background-size: cover;}

#four div p {
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 18px;
}

#hero {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero div {
    flex: 1 0 50%;
    padding: 1.5rem 0 6rem;
}

#hero div h1 {
    font-size: 48px;
    font-weight: 900;
}

#hero div img {
    margin-top: 0.5rem;
    width: 100%;
    height: auto;
}

#hero div p, nav ul li a {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

nav ul li {
    list-style-type: none;
}

.margin-none {
    margin: 0;
}

a {
    text-decoration: none;
}

.main-cta {
    background-color: #3882F6;
    border-radius: 0.25rem;
    font-size: 18px;
    padding: 0.5rem 1.5rem;
    transition-duration: 500ms;
}

.main-cta:hover {
    background-color: #0A58D6;
}

p a {
    color: #3882F6;
    font-weight: 400;
}

.text-center {
    text-align: center;
}